<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Which Star Wars character are you?</title>
  </head>
  <body>
    <h1>Which Star Wars character are you?</h1>

    <form method="post" action="/your-results">
      <label for="battery-percentage">What is your battery percentage?</label>
      <input type="text" name="batterypercentage" />

      <label for="name"
        >What year were you born (only last two digits - eg.: 2000 = 00)</label
      >
      <input type="text" name="year" />
      <button type="submit">OK</button>
    </form>
  </body>
</html>
