<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>

  <body class="container-fluid">
    <div id="main" role="main" class="d-flex justify-content-center align-items-center" style="min-height: 100vh">
      <div class="row">
        <h1 class="text-center pt-3 pb-3 fixed-top">Which Star Wars character are you?</h1>

        <form method="post" action="/your-results">
          <div class="mb-3 text-center forms">
            <label class="form-label" for="battery-percentage">What is your battery percentage?</label>
            <input type="text" class="form-control mx-auto" name="batterypercentage" />
          </div>

          <div class="mt-4 mb-3 text-center forms">
            <label class="form-label" for="name">What year were you born (only last two digits - eg.: 2000 = 00)</label>
            <input type="text" class="form-control mx-auto" name="year" />
            <button type="submit" class="mt-4 btn btn-outline-warning">OK</button>
          </div>

        </form>
      </div>

    </div>
    <%- include('partials/footer.ejs') %>
  </body>

</html>